#cloud-config

ssh_pwauth: true

timezone: America/Chicago
locale: en_US.UTF-8
fqdn: aap26.home.lab

package_update: true
package_upgrade: true
packages:
  - tar
  - python3
  - python3-pip
  - curl
  - wget
  - vim
  - git-core
  - rsync
  - firewalld

users:
  - default
  - name: alex
    gecos: Alex Medina Delgado
    groups: wheel
    # Password for debugging is "T3st1ng132_" for both root and this user
    passwd: $6$YeXTnUnEORkFf458$coKB/.bDNLJaE.Nv2Mtw1BxoWrN7a7fICMO/kR.gPs7Ay.p4w7QiIQGLExRrfLl.N/JQ7CCnaHRYgiKwJYXQR/
    lock_passwd: false
    sudo: ALL=(ALL) NOPASSWD:ALL

chpasswd:
  list: |
    root:$6$YeXTnUnEORkFf458$coKB/.bDNLJaE.Nv2Mtw1BxoWrN7a7fICMO/kR.gPs7Ay.p4w7QiIQGLExRrfLl.N/JQ7CCnaHRYgiKwJYXQR/
  expire: false


runcmd:
  - [ mkdir, -p, /opt/aap-installer ]
  - [ systemctl, enable, --now, firewalld ]
  - [ firewall-cmd, --permanent, --add-service=ssh ]
  - [ firewall-cmd, --permanent, --add-service=http ]
  - [ firewall-cmd, --permanent, --add-service=https ]
  - [ firewall-cmd, --reload ]
  - [ dnf, clean, all ]
